<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>OAuth Test</title>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
   <nav>
      <Ul>
         <li> <a href="/auth/logout">logout</a> </li>
         <li> <a href="/auth/login">login</a> </li>
         <li> <a href="/">Homepage</a> </li>
      </Ul>
   </nav>
   <header>
      <h1>Troy</h1>
      <h3>Welcome to homepage</h3>
   </header>
   <main>
      <p>Test Para LFMAO</p>
   </main>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>